body {
  font-size: 30px;
  font-family: 'Kiwi Maru', serif !important;
}

ul{
  padding-left: 0 !important;
}
.center{
  text-align: center;
}
.header-nav{
  position: fixed;
 
  z-index: 100;
  width: 100%;
  background-color: white;
  box-shadow: 1px 2px 5px #808080;
  transition: top 0.3s;

.navbar{
    padding: 1rem;
  a{
    color: black;
    text-decoration: none;
  }
  ul 
  {
    padding-left: 0 !important;
    li:hover{
    border-radius: 1rem;
    background-color: #ecbd90;
  }
}
 
  .navbar-menu-link{

    ul{
      margin-bottom: 0 !important;
      display: flex ;
      font-size: 1rem;
      li{
        list-style: none;
        padding: 0.5rem;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
}
}
}
.header-nav:hover{
  opacity: 1;
}
.container-xl{

 
  img{
    width: 100%;
    height: 800px;
    object-fit: cover;
  }
  .banner-info{

    position: absolute;
    top: 50vh;
    left: 10vw;
    width: 50%;
    color: white;
    h1{
      font-size:5vw;
      text-shadow:0.5rem 0.5rem 1rem #808080;
    }
    button{
      
      margin-top: 1rem;
      background-color: white;
      border: none;
      color: black;
      padding: 1rem;
      box-shadow: 0.1rem 0.3rem 0.5rem #808080;   
     }
     button:hover{
       padding: 1.3rem;
       transition: 0.5s;
      
     }
  }
}
.best-sellers{
  .best-sellers-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    .item{
      position: relative;
      margin: 1rem;
      width: 30%;
      text-align: center;
     
      
      // transition: all .9s cubic-bezier(.19,1,.22,1) 0s;
      span:nth-child(1) {
        position: absolute;
        top:0 ;
        left: 0;
        padding: 1rem;
        color: white;
        background-color: firebrick;
      }
      img{
        
        margin-bottom: 1rem;
        max-width: 100%;
        height: 350px;
        object-fit: cover;

       
      }
    }
    .item:hover{
      cursor: pointer;
      box-shadow: 0.1rem 0.3rem 0.5rem #808080;
      border-radius: 0.5rem;
      background-color: rgba(255,255,255,.9);
    
    // transform: translate3d(100%,0,0);
    }
  }
}
.center-cookies{
  position: relative;
  h5{
    background-color: white;
    
    
    display: inline-block;
    padding: 0.7rem;
    border: 2px solid rgb(129, 129, 129);
    
  }
  hr{
    position: absolute;
    width: 96%;
    z-index: -1;
    top: 10%;
    border: 0.5px solid black;
    opacity: 0.5;
  }
}
.more-bites{
  .grid-items{
    display: grid;
    grid-template-columns: auto auto auto;
   cursor: pointer;
   transition: transform .2s; /* Animation */
    img{
    
      padding: 0.5rem;
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
    img:hover{
      transform: scale(1.1);
      transform: 3s;
    }
  
  }

}
.services{
  display: flex;
  justify-content: space-between;
  .item{
    cursor: pointer;
    width: 33%;
    text-align: center;
    padding: 0.5rem;
    a {
    
      font-size: 0.5rem;
      img{
        width: 20%;
        height: auto;
      }
    }
    i{
      font-size: 4rem;
    }
  }
  .item:nth-child(2){
    border-left:2px solid rgb(121, 119, 119);
    border-right:2px solid rgb(134, 133, 133);
  }
}
footer{
  padding-top: 2rem;
  background-color: rgb(250, 225, 229);
  .info-footer{
    display: flex;
    justify-content: space-between;
    
    ul{
      li:nth-child(1){
        font-weight: bold;
        margin-bottom: 1rem;
      }
      li{
        padding: 0.2rem;
        list-style: none;
        a{
          text-decoration: none;
          color: black;
        }
      }
    }
    .footer-subscribe{
      input{
        padding: 0.5rem;
        width: 100%;
        margin-bottom: 1rem;
      }
      button{
        background-color: rgb(255, 129, 150);
        width: 100%;
        color: white;
        border: none;
        padding: 0.5rem;
      }
    }
  }
  .social{
    display: flex;
    justify-content: space-between;
    .social-icons{

      a{
        color: black;
        padding: 0.5rem;
      }
    }
  }
}
.fa-plus{
  cursor: pointer;
  font-size: 3rem;
}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  
    .navbar{
    
      .navbar-menu-link{
        display: none;
      }
    }
  .best-sellers{
    .best-sellers-items{
      flex-direction: column;
      .item{
        width: 100%;
        img{
          width: 100%;
        }
      }
    }
  }  
  .more-bites{
    .grid-items{
      grid-template-columns: auto ;
    }
  }
  .services{
    flex-direction: column;
    .item{
      width: 100%;
    }
    .item:nth-child(2){
      border-top:2px solid rgb(121, 119, 119);
      border-bottom:2px solid rgb(134, 133, 133);
      border-left: none;
      border-right: none;
    }
  }
  footer{
    .info-footer{
      flex-direction: column-reverse;
      align-items: center;
      .footer-menu{
        display: none;
      }
      .footer-address{
        width: 100%;
        margin-top: 1rem;
      }
      .footer-subscribe{
        margin-top: 1rem;
        width: 100%;
      }
      .footer-open-hour{
        width: 100%;
      }
    }
  }
}
@media only screen and (max-width: 1200px) and (min-width : 768px){
  .navbar{
    .navbar-menu-link{
      display: none;
    }
  }
  .best-sellers{
    .best-sellers-items{
      flex-direction: column;
      .item{
        width: 100%;
        img{
          width: 100%;
          height: auto;
        }
      }

    }
  }
  footer{
    .info-footer{
      
     
      .footer-subscribe{
        
      }
    }
  }
}
@media screen and (min-width: 1200px){
  .dropdown{
    display: none;   
  }

}
@media only screen and (max-width: 768px) {
  .responsive {position: relative;}
  .responsive {
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

    .header-nav{
     
      .responsive {
  
        flex-direction: column;
        float: left;
        text-align: left;
        .logo{
          display: none;
        }
        .navbar-menu-link{
         
         display: block;
         text-align: left;
         ul{
           flex-direction: column;
           align-items: center;
           li{
             align-self: start;
         
           }
         }
        }
      }

    }
 
  
}
@media only screen and (max-width : 400px) {
  .more-bites{
    .grid-items{
      grid-template-columns: auto ;
    }
  }
}